Options +FollowSymLinks
RewriteEngine On

RewriteRule ^js/(.*)$ app/public/js/$1 [END]
RewriteRule ^css/(.*)$ app/public/css/$1 [END]
RewriteRule ^layout/(.*)$ app/public/layout/$1 [END]

RewriteRule ^([A-Za-z]+)/([A-Za-z]+)$ app/public/index.php?controller=$1&action=$2 [END]

RewriteRule ^ app/public/index.php
